NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=uc_auth_db

JWT_SECRET=your_jwt_secret

CORS_ORIGIN=http://localhost:4200

SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
EMAIL_FROM=no-reply@example.com